In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [ ]:
CCTV_Seoul = pd.read_csv(
    './data/01. CCTV_in_Seoul.csv'   #읽어들일 파일 경로 filepath
    , encoding= 'utf-8'
)
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [ ]:
# DataFrame 에서 컬럼  확인 => 데이터 구조 확인
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [ ]:
# 특정 컬럼 라벨인덱스 변경 => rename function
CCTV_Seoul.rename(
    columns={
    CCTV_Seoul.columns[0]:'구별'
}, inplace=True)

CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

---
# 인구현황(서울시) 파일 읽기
---

In [ ]:
# xls 파일의 경우 read_excel fuction 샤용
pop_Seoul = pd.read_excel('./data/01. population_in_Seoul.xls', encoding='utf-8'
                         , header=2)
pop_Seoul.head()

         기간  자치구         세대           계         남자  ...       계.2      남자.2      여자.2  세대당인구   65세이상고령자
0  2017.1/4   합계  4202888.0  10197604.0  5000005.0  ...  270636.0  128445.0  142191.0   2.36  1321458.0
1  2017.1/4  종로구    72654.0    162820.0    79675.0  ...    9231.0    4064.0    5167.0   2.11    25425.0
2  2017.1/4   중구    59481.0    133240.0    65790.0  ...    8928.0    4134.0    4794.0   2.09    20764.0
3  2017.1/4  용산구   106544.0    244203.0   119132.0  ...   14747.0    7965.0    6782.0   2.15    36231.0
4  2017.1/4  성동구   130868.0    311244.0   153768.0  ...    7864.0    3692.0    4172.0   2.32    39997.0

[5 rows x 14 columns]

In [ ]:
pop_Seoul_copy = pd.read_csv(
    './data/01. population_in_Seoul_copy.csv'
    , encoding='utf-8'
    , header=2)
pop_Seoul_copy.head()

         기간  자치구         세대           계         남자         여자  ...       여자.1      계.2     남자.2     여자.2 세대당인구   65세이상고령자
0  2017.1/4   합계  4,202,888  10,197,604  5,000,005  5,197,599  ...  5,055,408  270,636  128,445  142,191  2.36  1,321,458
1  2017.1/4  종로구     72,654     162,820     79,675     83,145  ...     77,978    9,231    4,064    5,167  2.11     25,425
2  2017.1/4   중구     59,481     133,240     65,790     67,450  ...     62,656    8,928    4,134    4,794  2.09     20,764
3  2017.1/4  용산구    106,544     244,203    119,132    125,071  ...    118,289   14,747    7,965    6,782  2.15     36,231
4  2017.1/4  성동구    130,868     311,244    153,768    157,476  ...    153,304    7,864    3,692    4,172  2.32     39,997

[5 rows x 14 columns]

In [ ]:
# xls 파일의 경우 read_excel fuction 샤용
pop_Seoul = pd.read_excel('./data/01. population_in_Seoul.xls', encoding='utf-8'
                         , header=2, usecols='B,D,G,J,N')
pop_Seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [ ]:
#컬럼명을 변셩
# 자치구 -> 구별, 계 -> 인구수, 계.1 -> 한국인, 계.2 -> 외국인, 65이상고령자-> 고령자
pop_Seoul.rename(
columns={
    pop_Seoul.columns[0]:'구별'
    , pop_Seoul.columns[1]:'인구수'
    , pop_Seoul.columns[2]:'한국인'
    , pop_Seoul.columns[3]:'외국인'
    , pop_Seoul.columns[4]:'고령자'
}
, inplace= True)
pop_Seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [ ]:
dates = pd.date_range('20200902', periods=6)
dates

DatetimeIndex(['2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05',
               '2020-09-06', '2020-09-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = DataFrame(np.arange(24).reshape(6,4)
              , index=dates)
df

             0   1   2   3
2020-09-02   0   1   2   3
2020-09-03   4   5   6   7
2020-09-04   8   9  10  11
2020-09-05  12  13  14  15
2020-09-06  16  17  18  19
2020-09-07  20  21  22  23

In [ ]:
# index Get 하기 (Get,Set 할수 있는애 : Attributes)
df.index

DatetimeIndex(['2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05',
               '2020-09-06', '2020-09-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns = ['A','B','C','D']

In [ ]:
df

             A   B   C   D
2020-09-02   0   1   2   3
2020-09-03   4   5   6   7
2020-09-04   8   9  10  11
2020-09-05  12  13  14  15
2020-09-06  16  17  18  19
2020-09-07  20  21  22  23

In [ ]:
df.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [ ]:
# sort
df.sort_values(by='B', ascending=False)

             A   B   C   D
2020-09-07  20  21  22  23
2020-09-06  16  17  18  19
2020-09-05  12  13  14  15
2020-09-04   8   9  10  11
2020-09-03   4   5   6   7
2020-09-02   0   1   2   3

In [ ]:
# 컬럼 인덱싱
df[['A']]

             A
2020-09-02   0
2020-09-03   4
2020-09-04   8
2020-09-05  12
2020-09-06  16
2020-09-07  20

---
#로우 인덱싱
---

In [ ]:

df['2020-09-03':'2020-09-05']
# 기본적으로 슬라이싱은 로우 슬라이스
# 로우 인덱스의 라벨인덱스 사용시, 슬라이싱 할때 끝값 제외 안됨.

             A   B   C   D
2020-09-03   4   5   6   7
2020-09-04   8   9  10  11
2020-09-05  12  13  14  15

In [ ]:
df.loc['2020-09-03']

A    4
B    5
C    6
D    7
Name: 2020-09-03 00:00:00, dtype: int32

In [ ]:
df.iloc[1]

A    4
B    5
C    6
D    7
Name: 2020-09-03 00:00:00, dtype: int32

In [ ]:
# 행 열 한번에 인덱싱
#df.loc[행, 열]
df.loc[:, ['A','C']]

             A   C
2020-09-02   0   2
2020-09-03   4   6
2020-09-04   8  10
2020-09-05  12  14
2020-09-06  16  18
2020-09-07  20  22

In [ ]:
df.loc['20200902':'20200903', ['A','C']]
#날짜 포맷이 다른데 문제없다. 자동형변환 파이써닉

            A  C
2020-09-02  0  2
2020-09-03  4  6

In [ ]:
df.loc['20200903', ['A','C']]
# 한 로우만 나오니까 시리즈로 반환, 해당 시리즈의 Name 이 그 row 라벨인덱스로 됨.

A    4
C    6
Name: 2020-09-03 00:00:00, dtype: int32

In [ ]:
DataFrame(df.loc['20200903', ['A','C']])

   2020-09-03
A           4
C           6

In [ ]:
df

             A   B   C   D
2020-09-02   0   1   2   3
2020-09-03   4   5   6   7
2020-09-04   8   9  10  11
2020-09-05  12  13  14  15
2020-09-06  16  17  18  19
2020-09-07  20  21  22  23

In [ ]:
DataFrame(df.iloc[3])

   2020-09-05
A          12
B          13
C          14
D          15

In [ ]:
# iloc : index location (숫자 index로 접근함.)
df.iloc[3:5, 0:2]

             A   B
2020-09-05  12  13
2020-09-06  16  17

In [ ]:
#iloc 팬시 인덱싱
df.iloc[[1,3],[0,2]]

             A   C
2020-09-03   4   6
2020-09-05  12  14

In [ ]:
# loc 로는 로우 라벨인덱스로는 팬시색인이 안되네.. 왜안돼.
df.loc['20200903':'20200905', ['A','C']]

             A   C
2020-09-03   4   6
2020-09-04   8  10
2020-09-05  12  14

In [ ]:
df.iloc[:,1:3]

             B   C
2020-09-02   1   2
2020-09-03   5   6
2020-09-04   9  10
2020-09-05  13  14
2020-09-06  17  18
2020-09-07  21  22

In [ ]:
df.A

2020-09-02     0
2020-09-03     4
2020-09-04     8
2020-09-05    12
2020-09-06    16
2020-09-07    20
Freq: D, Name: A, dtype: int32

In [ ]:
df[['A']]

             A
2020-09-02   0
2020-09-03   4
2020-09-04   8
2020-09-05  12
2020-09-06  16
2020-09-07  20

In [ ]:
# Boolean 색인
df

             A   B   C   D
2020-09-02   0   1   2   3
2020-09-03   4   5   6   7
2020-09-04   8   9  10  11
2020-09-05  12  13  14  15
2020-09-06  16  17  18  19
2020-09-07  20  21  22  23

In [ ]:
df[(df.A > 8) & (df.B < 21)]

             A   B   C   D
2020-09-05  12  13  14  15
2020-09-06  16  17  18  19

In [ ]:
# DataFram copy? 
df1= df
id(df1)==id(df)
# 이 경우는 카피가 아닌, 같은 주소를 참조하는 다른 변수명들이 생길 뿐이다.

True

In [ ]:
df2 = df[:]
df2 = df.copy()

In [ ]:
df2
df2 is df

False

In [ ]:
df2

             A   B   C   D E
2020-09-02   0   1   2   3
2020-09-03   4   5   6   7
2020-09-04   8   9  10  11
2020-09-05  12  13  14  15
2020-09-06  16  17  18  19
2020-09-07  20  21  22  23

In [ ]:
df2['E']=['one','two','three','four','five','six']

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-09-02 to 2020-09-07
Freq: D
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      int32
 1   B       6 non-null      int32
 2   C       6 non-null      int32
 3   D       6 non-null      int32
 4   E       6 non-null      object
dtypes: int32(4), object(1)
memory usage: 192.0+ bytes

In [ ]:
df2[(df2['E']=='two') | (df2['E']=='four')]

             A   B   C   D     E
2020-09-03   4   5   6   7   two
2020-09-05  12  13  14  15  four

In [ ]:
# isin 불린형으로 반환. => 불린 색인으로 활용가능
df2['E'].isin(['two','four','six'])

2020-09-02    False
2020-09-03     True
2020-09-04    False
2020-09-05     True
2020-09-06    False
2020-09-07     True
Freq: D, Name: E, dtype: bool

In [ ]:
df2[df2['E'].isin(['two','four','six'])]

             A   B   C   D     E
2020-09-03   4   5   6   7   two
2020-09-05  12  13  14  15  four
2020-09-07  20  21  22  23   six

In [ ]:
df.apply(np.cumsum)
# cumsum : 누적합 구하는 함수
#누적합을 적용하라.

             A   B   C   D
2020-09-02   0   1   2   3
2020-09-03   4   6   8  10
2020-09-04  12  15  18  21
2020-09-05  24  28  32  36
2020-09-06  40  45  50  55
2020-09-07  60  66  72  78

In [ ]:
df

             A   B   C   D
2020-09-02   0   1   2   3
2020-09-03   4   5   6   7
2020-09-04   8   9  10  11
2020-09-05  12  13  14  15
2020-09-06  16  17  18  19
2020-09-07  20  21  22  23

In [ ]:
df.apply(np.cumsum)

             A   B   C   D
2020-09-02   0   1   2   3
2020-09-03   4   6   8  10
2020-09-04  12  15  18  21
2020-09-05  24  28  32  36
2020-09-06  40  45  50  55
2020-09-07  60  66  72  78

In [ ]:
df.apply(lambda x: x.max()-x.min())
# 여기서 x는 컬럼 단위를 의미한다.
#  Pandas의 데이터 프레임은 기본처리가 컬럼이다.

A    20
B    20
C    20
D    20
dtype: int64

In [ ]:
df

             A   B   C   D
2020-09-02   0   1   2   3
2020-09-03   4   5   6   7
2020-09-04   8   9  10  11
2020-09-05  12  13  14  15
2020-09-06  16  17  18  19
2020-09-07  20  21  22  23

In [ ]:
#minmaxscaler :0~1 사이 값으로 노멀라이즈 됨.

### CCTV와 인구현황 데이터 파악
#### CCTV 현황 파악

In [ ]:
CCTV_Seoul.head(3)

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204

In [ ]:
pop_Seoul.head(3)

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0

In [ ]:
# CCTV 개수가 적은 구를 출력 -> 정렬

CCTV_Seoul.sort_values(by='소계', ascending=True).head()

     구별   소계  2013년도 이전  2014년  2015년  2016년  최근 증가율  최근 증가율_pct
9   도봉구  485        238    159     42    386  246.64      246.64
12  마포구  574        314    118    169    379  212.10      212.10
17  송파구  618        529     21     68    463  104.35      104.35
24  중랑구  660        509    121    177    109   79.96       79.96
23   중구  671        413    190     72    348  147.70      147.70

In [ ]:
# 최근 CCTV 증가율 계산
CCTV_Seoul['최근 증가율_pct']=round((CCTV_Seoul['2014년']+ CCTV_Seoul['2015년']+ \
                      CCTV_Seoul['2016년'])/(CCTV_Seoul['2013년도 이전'])*100, 2)

In [ ]:
CCTV_Seoul.sort_values(by='최근 증가율', ascending=False)

      구별    소계  2013년도 이전  2014년  2015년  2016년  최근 증가율
22   종로구  1002        464    314    211    630  248.92
9    도봉구   485        238    159     42    386  246.64
12   마포구   574        314    118    169    379  212.10
8    노원구  1265        542     57    451    516  188.93
1    강동구   773        379     99    155    377  166.49
19  영등포구   904        495    214    195    373  157.98
0    강남구  2780       1292    430    584    932  150.62
4    관악구  1496        846    260    390    613  149.29
23    중구   671        413    190     72    348  147.70
11   동작구  1091        544    341    103    314  139.34
3    강서구   884        388    258    184     81  134.79
2    강북구   748        369    120    138    204  125.20
17   송파구   618        529     21     68    463  104.35
7    금천구  1015        674     51    269    354  100.00
21   은평구  1873       1138    224    278    468   85.24
15   성동구  1062        730     91    241    265   81.78
24   중랑구   660        509    121    177    109   79.96
10  동대문구  1294       1070     23    198    579   74.77
6    구로구  1561       1142    173    246    323   64.97
16   성북구  1464       1009     78    360    204   63.63
14   서초구  1930       1406    157    336    398   63.37
5    광진구   707        573     78     53    174   53.23
20   용산구  1624       1368    218    112    398   53.22
13  서대문구   962        844     50     68    292   48.58
18   양천구  2034       1843    142     30    467   34.67

In [ ]:
# 서울 인구수 첫번째 행 합계 지우기.
pop_Seoul.drop(index=0, inplace=True)
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

In [ ]:
# 주의 : 데이터를 믿지 마세요. 근데 데이터를 안믿으면 뭘믿냐. => 재확인 해라...
# 구별 데이터 확인
# 인구현황 => 엑셀 파일
pop_Seoul['구별']   # NaN 값이 들어가있다. 빈줄이 삽입되기도 한다. csv 로 처리하면 이런 오류가 적다.

1      종로구
2       중구
3      용산구
4      성동구
5      광진구
6     동대문구
7      중랑구
8      성북구
9      강북구
10     도봉구
11     노원구
12     은평구
13    서대문구
14     마포구
15     양천구
16     강서구
17     구로구
18     금천구
19    영등포구
20     동작구
21     관악구
22     서초구
23     강남구
24     송파구
25     강동구
26     NaN
Name: 구별, dtype: object

In [ ]:
pop_Seoul['구별'].unique() # 이상데이터 확인
pop_Seoul[pop_Seoul['구별'].isnull()]

Empty DataFrame
Columns: [구별, 인구수, 한국인, 외국인, 고령자]
Index: []

In [ ]:
# 26번 행 삭제
#pop_Seoul.drop(index=26,inplace=True)
pop_Seoul[pop_Seoul['구별'].isnull()]

Empty DataFrame
Columns: [구별, 인구수, 한국인, 외국인, 고령자]
Index: []

In [ ]:
# 위 코드를 한줄에 작성
# 알아서 해보기

In [ ]:
# 나중에 인구현황은 범죄 현황과 연결할 것임.
# 범죄현황은 CCTV 현황과 연결할 것임.
# 범죄현황 기준 => 외국인 비율과 고령자 비율 계산하여 연관여부 분석

    구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

In [ ]:
pop_Seoul['외국인비율']=round(pop_Seoul['외국인']/pop_Seoul['인구수']*100, 2)
pop_Seoul['고령자비율']=round(pop_Seoul['고령자']/pop_Seoul['인구수']*100,2)
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
1  종로구  162820.0  153589.0   9231.0  25425.0   5.67  15.62
2   중구  133240.0  124312.0   8928.0  20764.0   6.70  15.58
3  용산구  244203.0  229456.0  14747.0  36231.0   6.04  14.84
4  성동구  311244.0  303380.0   7864.0  39997.0   2.53  12.85
5  광진구  372164.0  357211.0  14953.0  42214.0   4.02  11.34

In [ ]:
# 서울시에 인구가 많은 구 확인
pop_Seoul.sort_values(by='인구수', ascending=False).head()

     구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
24  송파구  667483.0  660584.0   6899.0  72506.0   1.03  10.86
16  강서구  603772.0  597248.0   6524.0  72548.0   1.08  12.02
23  강남구  570500.0  565550.0   4950.0  63167.0   0.87  11.07
11  노원구  569384.0  565565.0   3819.0  71941.0   0.67  12.63
21  관악구  525515.0  507203.0  18312.0  68082.0   3.48  12.96

In [ ]:
# 외국인이 많은 구 확인
pop_Seoul.sort_values(by='외국인', ascending=False).head()

      구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
19  영등포구  402985.0  368072.0  34913.0  52413.0   8.66  13.01
17   구로구  447874.0  416487.0  31387.0  56833.0   7.01  12.69
18   금천구  255082.0  236353.0  18729.0  32970.0   7.34  12.93
21   관악구  525515.0  507203.0  18312.0  68082.0   3.48  12.96
6   동대문구  369496.0  354079.0  15417.0  54173.0   4.17  14.66

In [ ]:
# 외국인 비율 큰 동네
pop_Seoul.sort_values(by='외국인비율', ascending=False).head()

      구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
19  영등포구  402985.0  368072.0  34913.0  52413.0   8.66  13.01
18   금천구  255082.0  236353.0  18729.0  32970.0   7.34  12.93
17   구로구  447874.0  416487.0  31387.0  56833.0   7.01  12.69
2     중구  133240.0  124312.0   8928.0  20764.0   6.70  15.58
3    용산구  244203.0  229456.0  14747.0  36231.0   6.04  14.84

In [ ]:
# 고령자 비율이 큰 동네
pop_Seoul.sort_values(by='고령자비율', ascending=False).head()

     구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
9   강북구  330192.0  326686.0   3506.0  54813.0   1.06  16.60
1   종로구  162820.0  153589.0   9231.0  25425.0   5.67  15.62
2    중구  133240.0  124312.0   8928.0  20764.0   6.70  15.58
3   용산구  244203.0  229456.0  14747.0  36231.0   6.04  14.84
10  도봉구  348646.0  346629.0   2017.0  51312.0   0.58  14.72